.document{
    background-image: url("../images/background.webp");
    background-position: center;
    background-repeat: cover;
    background-size: cover;;
    font-family: "Roboto", sans-serif;
}

.document__button{
    background-color: hsl(115, 90%, 20%);
    color:white;
    padding: 10px;
    border-radius: 10px;
    margin: 30px 50px;
}

.document--dark .document__button{
    background-color: hsl(0, 0%, 35%);
}